@import "../../stylesheets/partials/variables";

$sample-component-bg: $white;

.sample-component {
  background: $sample-component-bg;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
}
