@import "bourbon";
@import "neat";
@import "../../stylesheets/partials/variables";

$sample-component-bg: $white;

.sample-container {
  @include outer-container(80%); // uses node-neat
  @include pad(); // uses node-neat
}

.sample-component {
  @include span-columns(6); // uses node-neat
  @include shift(3); // uses node-neat
  @include pad(0 20px 10px default); // uses node-neat
  background: $sample-component-bg;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
}
